# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/

# Environment files
.env
.env.*

# Model files
model.pkl
model_metadata.json

# OS files
.DS_Store
Thumbs.db
